@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');


#heading {
    font-family: 'Corben', cursive;
    color: #fafdff;
    font-size: 7rem;
    letter-spacing: 4px;
    margin-top: 35%;
}

#HeroWrapper {
    width: 350px;
    height: 350px;
    margin-top: 50px;
}

.contain {object-fit: contain;}

#heroImg {
    margin-top: 50%;
    height: 100%;
    width: 100%;
} 

#inputLabel {
    color: rgb(251, 255, 255);
}

.eventInfo {
    color: rgb(251, 255, 255);
}

body {
    background: #000046;  
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  
    background: linear-gradient(to right, #1CB5E0, #000046); 
}

