nav {
    background: #000000;  
    background: -webkit-linear-gradient(to right, #000000, #000000);  
    background: linear-gradient(to right, #000000, #000000);  
    webkit-box-shadow: none !important;
    box-shadow: none !important;
}

img {
    margin-top: 10px;
}